body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn{
    padding: 20px 60px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    border: none;
}